.sbar {
  margin-right: 30%;
}

.sbar input {
  width: 32vw;
}

.popbooks {
  background-color: #f7f7f7;
  padding: 30px 0px;
  text-align: center;
}

.booklist {
  display: flex;
  justify-content: center;
}

.bookitem {
  margin: 10px;
  height: 500px;
}

.bookimg {
  width: 210px;
  height: 300px;
}

.bookimg img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.bookitem button {
  color: white;
  background-color: darkblue;
  border: 2px solid darkblue;
  border-radius: 5px;
  padding: 5px 40px;
}
