.orgcard {
  padding: 50px 0px;
}

.orgcard .card {
  margin: 10px;
  padding: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.orgcard .card-body {
  padding: 12px;
}

.orgcard .card-text {
  height: 220px;
}

.counter-card {
  margin: 50px 0px;
  padding: 50px 0px;
  background-color: darkblue;
}

.counter-card .card {
  width: 200px;
  height: 200px;
  margin: 25px;
  padding: 0px;
  text-align: center;
}

.counter-card h2 {
  color: white;
}

.counter-card span {
  color: darkblue;
  font-size: 40px;
  font-weight: 900;
}

.counter-card i {
  color: darkblue;
  font-size: 40px;
}

.counter-card p {
  color: darkblue;
  font-weight: bold;
}

.formcontact {
  margin: 100px 0px;
}

.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 15px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  color: #3104af;
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 15px;
  color: #5959c5;
}

.container .content .right-side {
  width: 100%;
  margin-left: 100px;
}
.content .right-side .topic-text {
  font-size: 30px;
  font-weight: 500;
  color: #1c0b6d;
}
.right-side .input-box {
  height: 60px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #c4c4f1;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  color: #dadada;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #482899;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover {
  background: #d6d1e2;
}

@media (max-width: 950px) {
  .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .container {
    margin: 40px 0;
    height: 100%;
  }
  .container .content {
    flex-direction: column-reverse;
  }
  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before {
    display: none;
  }
  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

.slider-bg7 {
  background-image: url(https://images.unsplash.com/photo-1513475382585-d06e58bcb0e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
}

.slider-bg8 {
  background-image: url(https://images.unsplash.com/photo-1548048026-5a1a941d93d3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
}

.slider-bg9 {
  background-image: url(https://images.unsplash.com/photo-1499257398700-43669759a540?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
}

.slider-bg10 {
  background-image: url(https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1476&q=80);
}

.slider-bg11 {
  background-image: url(https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
}

.guide1 {
  margin: 20px 150px;
}

.target-bg {
  background-color: lightskyblue;
  padding-top: 100px;
  margin: 0px;
}

.target-info {
  background-color: darkblue;
  text-align: center;
  padding: 50px 180px;
}

.target-info p {
  color: white;
  font-size: 22px;
}

.target-info h2 {
  color: white;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .target-info {
    padding: 50px 20px;
  }

  .target-bg {
    background-color: lightskyblue;
    padding-top: 0;
    margin: 0;
  }

  .newform {
    margin: 0px 20px !important;
  }
}

.slicknav_menu {
  background-color: darkblue !important;
}

.slicknav_btn {
  background-color: lightskyblue !important;
}

.marquee {
  padding: 20px 120px;
}

.newform {
  padding: 16px;
  margin: 0px 120px;
}

.newform input[type="text"],
input[type="textarea"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.newform input[type="text"]:focus,
input[type="textarea"]:focus {
  background-color: #ddd;
  outline: none;
}

.newform .registerbtn:hover {
  opacity: 1;
}

.newform a {
  color: dodgerblue;
}

.success-slider {
  width: 100%;
  margin-bottom: 80px;
}
.success-slider .carousel {
  max-width: 1300px;
  margin: auto;
}
.success-slider .carousel .card {
  border: none;
}
